<div class="flex flex-row items-center gap-2" *ngIf="!isSelected ;else SelectedStyle">
    <div class="font-medium text-gray-500">
        Media
    </div>
    <div class="flex items-center justify-center  w-6 h-6 rounded-full
    bg-gray-200 text-gray-500 font-extrabold">
        5
    </div>
</div>

<ng-template #SelectedStyle>
    <div class="flex flex-row items-center gap-2">
        <div class="font-medium text-blue-600">
            Media
        </div>
        <div class="flex items-center justify-center  w-6 h-6 rounded-full
    bg-gray-200 text-blue-500 font-extrabold">
            7
        </div>
    </div>
</ng-template>