<div class="flex flex-row h-screen gap-3 overflow-auto" *ngIf="showLayout(); else noLayout">
  <app-sidebar [SidebarItems]="SidebarItems"></app-sidebar>
  <div class="flex flex-col flex-auto">
    <app-header [title]="title" [leftOffsetTcss]="leftOffsetTcss" [topOffsetTcss]="topOffsetTcss"
      [yellowBoxWidthTcss]="yellowBoxWidthTcss" />
    <div class="px-6 py-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #noLayout>
  <router-outlet></router-outlet> <!-- Only the core content for excluded routes -->
</ng-template>