<div class="grid grid-cols-[0.5fr,2fr,1fr,2fr,1fr,1fr] items-center justify-items-center gap-4">
    <img src="../../../../../assets/images/Placeholder/blank-profile-picture.png" alt="membre"
        class="w-12 h-12 rounded-full justify-self-center">
    <div class="truncate text-center {{textStyleTcss}}">
        {{prenom}} {{nom}}
    </div>
    <!-- Editable numero field -->
    <div class="truncate text-center {{textStyleTcss}}">
        <div *ngIf="!isEditing; else editField">
            {{numero}}
        </div>
        <ng-template #editField>
            <input type="text" [(ngModel)]="numero" class="border border-gray-300 rounded px-2 py-1 w-full" />
        </ng-template>
    </div>
    <div class="truncate text-center text-nowrap {{textStyleTcss}}">
        {{email}}
    </div>
    <app-yes-no-indicator [content]="isLibre ? 'Libre' : 'Occupe'" [isYes]="isLibre" />
    <div class="flex flex-row items-center justify-around gap-10">
        <button (click)="modifierMembre()">
            <lucide-icon name="pencil" class="w-7 h-7 text-yellow-400"></lucide-icon>
        </button>
        <button (click)="supprimerMembre()">
            <lucide-icon name="trash-2" class="w-7 h-7 text-red-500"></lucide-icon>
        </button>
    </div>
</div>