<div class="flex flex-row items-center justify-around">
    <img src="../../../../../assets/images/Placeholder/blank-profile-picture.png" alt="membre"
        class="w-12 h-12 rounded-full">
    <div>
        {{prenom}} {{nom}}
    </div>
    <div>
        {{numero}}
    </div>
    <div>
        {{email}}<!-- etudiant1&#64;enicar.ucar.tn -->
    </div>
    <div class="bg-green-400 w-20 text-center border-2 border-green-600 rounded-sm border-spacing-4 p-1 ">
        {{status}}
    </div>
    <div class="flex flex-row items-center justify-around gap-6 ">
        <lucide-icon name="pencil" class=""></lucide-icon>
        <lucide-icon name="trash-2" class=""></lucide-icon>
    </div>
</div>